{% load staticfiles %}
<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="{% url 'welcome' %}">燕山大学网络信息协会</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if index_type == 'index' %}active{% endif %}">
          <a class="nav-link" href="{% url 'index' %}">首页 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if index_type == 'info' %}active{% endif %}">
          <a class="nav-link" href="{% url 'info' %}">消息通知</a>
        </li>
        <li class="nav-item {% if index_type == 'apps' %}active{% endif %}">
          <a class="nav-link" href="{% url 'apps' %}">应用列表</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            联系我们
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item disabled" >QQ</a>
            <a class="dropdown-item disabled" >微信</a>
            <a class="dropdown-item disabled" >地址</a>
          </div>
        </li>
        {% if 'islogin' in request.session and request.session.islogin == True %}
            {% if 'worker' in request.session.group_marks %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                职务
              </a>
              <div class="dropdown-menu">
                  {% for name,link in request.session.work_list %}
                <a class="dropdown-item" href="{{ link }}">{{ name }}</a>
                  {% empty %}
                <a class="dropdown-item disabled">未分配工作项目</a>
                  {% endfor %}
              </div>
            </li>
            {% endif %}
            {% if 'manager' in request.session.group_marks %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                管理
              </a>
              <div class="dropdown-menu">
                  {% for name,link in request.session.manage_list %}
                <a class="dropdown-item" href="{{ link }}">{{ name }}</a>
                  {% empty %}
                <a class="dropdown-item disabled">未分配管理项目</a>
                  {% endfor %}
              </div>
            </li>
            {% endif %}
        {% endif %}
      </ul>
      <ul class="navbar-nav mt-2 mt-md-0">
        {% if 'islogin' in request.session and request.session.islogin == True %}
            <li class="nav-item dropdown">
                <a  class="nav-link dropdown-toggle" href="" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                    {{ request.session.name }}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item disabled">ID：{{ request.session.idcard }}</a></li>
                    <li><a class="dropdown-item disabled">职务：{{ request.session.duty }}</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}" class="dropdown-item text-center text-muted">登出</a></li>
                </ul>
            </li>
        {% else %}
            <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">登陆</a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}" target="_blank">注册</a>
            </li>
        {% endif %}
      </ul>
      <form class="form-inline mt-2 mt-md-0" action="{% url 'search' %}" method="get">
        <input class="form-control mr-sm-2" type="text" placeholder="搜索" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
      </form>
    </div>
  </nav>
</header>